<link rel="stylesheet" href="/css/storeInfo.css"> 
<!-- The design and styling is the same for signIn/signUp/forgetPassword -->
<div class="outerform">
    <div class="input-form">
        <div style="margin-top: 0px;"><h1>Fill In The Details</h1></div>
        <!-- <div class="quotes">
            <quotes>
                Small process makes a person big
            </quotes>
        </div> -->
        <div class="formClass">
            <form action="/users/businessDetails" method="POST">
                <input type="address" name="address" placeholder="Address" required><br>
                <input type="gst" name="gst" placeholder="GST" required><br>
                <select name="category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Sports">Sports</option>
                    <option value="Lifestyle">Lifestyle</option>
                    <option value="Others">Others</option>
                </select><br>
                <!-- <input type="password" name="confirmPassword" placeholder="Confirm password" required><br> -->
               <div> <button type="submit">Submit</button></div>
            </form> 
        </div>
    </div>
</div>
