/* CSS for the home page */

/* Home container */
.home-container {
    text-align: center;
  }
  
  /* Add Inventory button */
  .add-inventory-button, .logout-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .logout-button{
    background-color: rgba(170, 12, 12, 0.854);
  }

  .logout-button:hover{
    background-color: rgba(202, 8, 8, 0.826);
  }
  
  .add-inventory-button:hover {
    background-color: #45a049;
  }
  
  /* Product list */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Product card */
  .product-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card p {
    margin-bottom: 10px;
  }
  
  .product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-card button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #45a049;
  }

  /* Search Bar Styling */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .search-container button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .search-container button:hover {
    background-color: #45a049;
  }
  

  
  