/* CSS for signIN.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.outerform {
  width: 30vw;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.input-form {
  margin-top: 20px;
}

.input-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.formClass {
  margin-bottom: 20px;
}

.forgetPassword {
  text-align: center;
  margin-bottom: 10px;
}

.forgetPassword a {
  text-decoration: none;
  color: #888888;
}

.submitButtons {
  text-align: center;
}

.submitButtons button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.submitButtons button:hover {
  background-color: #45a049;
}

.registerUser {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10px;
}

.registerUser a {
  text-decoration: none;
  color: #1b4bbcc5;
  font-size: 16px;
}

.registerUser a:hover {
  color: #0989f1;
  text-decoration: underline;
}

